<div class="side-header">
  <div class="side-user">
    <a href="">Tom</a>
  </div>
  <div class="side-create">
    <a href="">チャットを作成する</a>
  </div>
</div>

<div class="side-menu">
  <div class="side-chatroom">
    <a href="">testroom1</a>
  </div>
  <div class="side-chatroom">
    <a href="">testroom2</a>
  </div>
</div>